@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-image: linear-gradient(to left bottom, #a4005d, #950769, #811474, #6a1f7c, #4d2782, #3d3289, #293b8f, #004393, #00529b, #0061a1, #006ea4, #007ba6);
  color: #f9f9f9;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .converter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 1.6em;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.romans,
.number {
  text-align: center;
  padding: 15px 30px;
}

.container a {
  padding: 20px 40px;
  border-radius: 40px;
  background: #f85700;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 900;
}

.container input {
  padding: 12px;
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  border-radius: 10px;
  background: #eee;
}
